.choosing {
    background: #F4F0F8;

    &__container {}

    &__body {
        margin: 80px 10px 0 10px;
        padding: 80px 0px;
        display: flex;
        align-items: center;

        @media (max-width: 1210px) {
            flex-direction: column;
            text-align: center;
        }

        @media (max-width: 774px) {
            margin: 40px 10px 0 10px;
        }

        @media (max-width: 768px) {
            padding: 40px 0px;
        }
    }

    &__img {
        align-items: center;
        width: 515px;
        height: 359px;

        @media (max-width: 768px) {
            width: 415px;
            height: 259px;
        }

        @media (max-width: 425px) {
            width: 315px;
            height: 259px;
        }
    }

    &__block {
        align-items: center;
        width: 624px;
        height: 332px;
        margin: 0 141px 0 0;

        @media (max-width: 1210px) {
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 0 0 30px 0;
        }

        @media (max-width: 768px) {
            width: 424px;
            height: 232px;
            margin: 0 0 150px 0;
        }

        @media (max-width: 425px) {
            width: 324px;
            height: 132px;
            margin: 0 0 350px 0;

        }
    }

    &__up-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #232536;
    }

    &__title {
        margin: 16px 0 20px 0;
        font-family: 'Sen', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;

        color: #232536;
    }

    &__name-date {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #4C4C4C;

        span {
            color: #592EA9;
        }
    }

    &__text {
        margin: 16px 0 34px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
    }

    &__btn {

        width: 204px;
        height: 56px;
        background: #FFD050;

        @media (max-width: 1210px) {
            margin: 0 0 0 200px;
        }

        @media (max-width: 768px) {
            margin: 0 0 0 120px;
        }

        @media (max-width: 425px) {
            margin: 0 0 0 60px;

        }
    }
}

//Blog


.blog {

    &_block {
        display: flex;
        align-items: center;
        margin: 0 10px 64px 10px;

        @media (max-width: 884px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 582px) {
            margin: 0 10px 0px 10px;
        }
    }

    &__container {}

    &__body {
        margin: 64px 0;

    }

    &__title {
        margin: 0 0 96px 0;
        padding-bottom: 32px;
        border-bottom: 1px solid #6d6e764b;

        @media (max-width: 884px) {
            text-align: center;
            margin: 0 0 56px 0;
        }
    }

    &__column {
        align-items: center;
        flex-direction: column;
    }

    &__all-text {
        width: 624px;
        height: 208px;
        margin: 0 0 0 32px;

        @media (max-width: 884px) {
            width: 524px;
        }

        @media (max-width: 582px) {
            width: 400px;
            margin: 20px 0 52px 0px;
        }
        @media (max-width: 429px) {
            width: 400px;
            margin: 20px 0 12px 0px;
        }
        @media (max-width: 415px) {
            width: 350px;
            margin: 20px 0 12px 0px;
        }
        @media (max-width: 320px) {
            width: 300px;
            margin: 20px 0 12px 0px;
        }
    }

    &__up-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #592EA9;
        @media (max-width: 429px) {
            font-size: 12px;
        }
    }

    &__main-text {
        font-family: 'Sen', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        color: #232536;
        @media (max-width: 429px) {
            font-size: 26px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
        @media (max-width: 429px) {
            font-size: 12px;
        }
    }

    &__img {
       
    }
}