// Footer


.footer {
    background: #232536;

    &__container {}

    &__body {
        padding: 59px 0 56px 0;
    }

    &__logo {}

    &__menu {}

    &__list {
        display: flex;
        @media (max-width:1084px) {
            margin: 40px 0px 0 0px;
        }
        @media (max-width:478px) {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        li:not(:last-child) {
            margin: 0 24px 0 0;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }
    &__link:hover{
        color: #b8b8b8;
    }

    &__block {
        margin: 50px 0;
        background: #ffffff10;

        padding: 80px 64px;
        display: flex;
        @media (max-width:1084px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        @media (max-width:628px) {
            padding: 50px 34px;

        }
    }

    &__up-block {
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        @media (max-width:1084px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
          

        }

    }

    &__text {
        font-family: 'Sen', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;

        color: #FFFFFF;
        @media (max-width:628px) {
            font-size: 26px;
        }
    }

    &__input {
        margin: 0 24px 0 64px;
        padding: 14px 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        border: 1px solid #4C4C4C;
        width: 550px;
        height: 56px;
        color: #6D6E76;
        @media (max-width:1084px) {
           margin: 20px;
        }
        @media (max-width:628px) {
            width: 350px;
        }
        @media (max-width:410px){
            width: 250px;
        }
    }

    &__btn {
        align-items: center;
        text-align: center;
        height: 56px;
        background: #FFD050;
    }

    &__down-block {
        margin: 0 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:478px) {
           flex-direction: column;
           align-items: center;
           text-align: center;
           justify-content: center;
          }
    }

    &__down-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;

        opacity: 0.7;
    }

    &__logos {
        display: flex;
        @media (max-width:478px) {
            margin: 10px 0 0 0;
        }
    }

    &__logo:not(:last-child) {
        margin: 0 26.67px 0 0;
    }
}